<nav class="navbar navbar-dark bg-primary" style="padding: 0 15px 0 15px">
    <h3 class="navbar-brand" (click)="goBack()"  style="cursor: pointer;">{{path}}</h3>
    <div class="fa fa-bars navbar-text" (click)="toggleNav()" style="cursor: pointer;">
    </div>                
</nav>
<div class="bg-white border-left" style="position: fixed; top: 0; right: 0; height: 100%; width: 250px; background-color:red;" *ngIf="showNav">
    <span (click)="toggleNav()">
        <i class="fa fa-arrow-circle-right text-secondary" style="cursor: pointer; margin: 10px 10px 10px 10px"></i>
        <app-nav-menu></app-nav-menu>
    </span>
</div>