<div>
    <div class='navbar bg-white'>
            <ul class="nav flex-column nav-pills nav-fill" style="width: 100%;">
                <li class="nav-item" >
                    <a class="nav-link" [routerLinkActive]='["active"]' [routerLinkActiveOptions]='{ exact: true }' [routerLink]='["/"]'>
                        Home
                    </a>
                </li>
                <li class="nav-item" >
                    <a class="nav-link" [routerLinkActive]='["active"]' [routerLink]='["/Counter"]'>
                        Counter
                    </a>
                </li>
                <li class="nav-item" >
                    <a class="nav-link" [routerLinkActive]='["active"]' [routerLink]='["/Fetch-Data"]'>
                        Fetch data
                    </a>
                </li>
            </ul>
    </div>
</div>