<div class="container" style="width: 75%; height: 100%;">
  <app-nav-card
    [title]="'Home'"
    [text]="'The main ladning page of the application.'"
    [linkText]="'Go Home'"
    [route]="'/'"
  ></app-nav-card>
  <app-nav-card
    [title]="'Counter'"
    [text]="'Provides a button to increase a count.'"
    [linkText]="'Counter'"
    [route]="'/counter'"
  ></app-nav-card>
  <app-nav-card
    [title]="'Fetch-Data'"
    [text]="'Fetches data and displays it to the user'"
    [linkText]="'Go Fetch Data'"
    [route]="'/fetch-data'"
  ></app-nav-card>
  <!-- Stack the columns on mobile by making one full-width and the other half-width -->
  <!-- <div class="row">
      <div class="col-12 col-md-8 bg-white">.col-12 .col-md-8</div>
      <div class="col-6 col-md-4 bg-white">.col-6 .col-md-4</div>
    </div>
    
 
    <div class="row">
      <div class="col-6 col-md-4 bg-white">.col-6 .col-md-4</div>
      <div class="col-6 col-md-4 bg-white">.col-6 .col-md-4</div>
      <div class="col-6 col-md-4 bg-white">.col-6 .col-md-4</div>
    </div>
    
 
    <div class="row">
      <div class="col-6 bg-white">.col-6</div>
      <div class="col-6 bg-white">.col-6</div>
    </div> -->
</div>