<div class='main-nav'>
    <div class='navbar navbar-inverse'>
        <div class='clearfix'></div>
        <div class='navbar-collapse collapse navbar-links' [ngClass]='{ "in": isExpanded }'>
            <!-- <div style="float: right; color: white; margin-right: 5px; cursor:pointer;" (click)='toggle()'>
                <<
            </div> -->
            <div class="clearfix"></div>
            <ul class='nav navbar-nav'>
                <li [routerLinkActive]='["link-active"]' [routerLinkActiveOptions]='{ exact: true }'>
                    <a [routerLink]='["/"]' (click)='collapse()'>
                        <span class='glyphicon glyphicon-home'></span> Home
                    </a>
                </li>
                <li [routerLinkActive]='["link-active"]'>
                    <a [routerLink]='["/counter"]' (click)='collapse()'>
                        <span class='glyphicon glyphicon-education'></span> Counter
                    </a>
                </li>
                <li [routerLinkActive]='["link-active"]'>
                    <a [routerLink]='["/fetch-data"]' (click)='collapse()'>
                        <span class='glyphicon glyphicon-th-list'></span> Fetch data
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
