<div class='main-nav'>
    <div class='navbar-dark bg-dark' style="height: 100%;">
        <div>
            <ul class="nav flex-column nav-pills">
                <li class="nav-item" [routerLinkActive]='["link-active"]' [routerLinkActiveOptions]='{ exact: true }'>
                    <a class="nav-link" [routerLink]='["/"]' (click)='collapse()'>
                        <span class='glyphicon glyphicon-home'></span> Home
                    </a>
                </li>
                <li class="nav-item" [routerLinkActive]='["link-active"]'>
                    <a class="nav-link" [routerLink]='["/counter"]' (click)='collapse()'>
                        <span class='glyphicon glyphicon-education'></span> Counter
                    </a>
                </li>
                <li class="nav-item" [routerLinkActive]='["link-active"]'>
                    <a class="nav-link" [routerLink]='["/fetch-data"]' (click)='collapse()'>
                        <span class='glyphicon glyphicon-th-list'></span> Fetch data
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
